@media screen and (max-width:1800px) {
    .minima, .maxima {
        font-size: 4vh;
    }
    .card_cidade__nome_do_lugar {
        font-size: 4vh;
    }
    .card_cidade__clima_descricao {
        font-size: 4vh;
    }
}
@media screen and (max-width:1700px) {
    .minima, .maxima {
        font-size: 3.5vh;
    }
    .card_cidade__nome_do_lugar {
        font-size: 4vh;
    }
    .card_cidade__clima_descricao {
        font-size: 3vh;
    }
}
@media screen and (max-width:1500px) {
    .minima, .maxima {
        font-size: 3vh;
    }
}

@media screen and (max-width:1350px) {


    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    input {
        width: 400px;
        height: 50px;
    }
    .minima, .maxima {
        justify-content: center;
    }
    .card_cidade {
        margin-top: 20px;
        margin-left:0;
    }

    .card_cidade, .card_clima_amanha,
     .card_clima_depois_de_amanha {
        width: 90vw;
        margin-left: 0;
    }

    .card_clima_amanha,.card_clima_depois_de_amanha {
        height: 20vh;
        margin-top: 40px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1050px){
    video {
        display: none;
    }
    body {
        background: #34495e;
    }
}

@media screen and (max-width:900px) {

    main {
        justify-content: space-between;
    }
    nav {
        display: flex;
        justify-content: flex-start;
    }
    input {
        margin-left: 20px;
    }
}


@media screen and (max-width: 830px) {
    .minima,.maxima {
        font-size: 2.5vh;
    }
    .minima > span > img, .maxima > span > img {
        transform: scale(.8);
    }
}

@media screen and (max-width: 740px) {
    .minima,.maxima {
        font-size: 2vh;
    }
    .minima > span > img, .maxima > span > img {
        transform: scale(.7);
    }
}

@media screen and (max-width: 650px) {
    
    input {
        margin: 0;
    }
    nav {
        justify-content: center;
    }
    nav > span {
        display: none;
    }
    main {
        height: 100vh;
        justify-content: flex-start;
    }

    .card_cidade {
        height: 35vh
    }

    .minima,.maxima {
        font-size: 1.7vh;
    }
    .minima > span > img, .maxima > span > img {
        transform: scale(.5);
    }

    .minima > span, .maxima > span {
        margin-left: 5px;
    }

    .umidade, .velocidade_vento, .sensacao_term {
        justify-content: flex-start;
        font-size: 1.6vh;
    }

    .sensacao_term > span > img {
        display: none;
    }
    #vento {
        margin: 0;
    }
}

@media screen and (max-width:550px){
  
    .card_cidade__clima {
        justify-content: flex-start;
    }
    .umidade,.sensacao_term, .velocidade_vento {
        justify-content: flex-start;
    }
    .card_cidade__clima_temp {
        display: inline;
    }
    .card_detalhes {
        height: 180px;
        width:180px;
    }
    .card_cidade__clima_temp {
        display: flex;
        align-items: center;
    }
    .card_cidade__clima_temp > span{
        font-size: 8rem;
    }
}

@media screen and (max-width: 480px) {
    .card_cidade__clima_temp > span{
        font-size: 6rem;
    }
    .card_cidade__clima_temp > hr {
        height: 140px;
    }
    
    .card_detalhes {
        height:140px;
        width: 160px;
    }
    .card_cidade__nome_do_lugar,.card_cidade__clima_descricao {
        font-size: 2.5vh;
    }
    .minima, .maxima {
        margin: 0 5px;
        width: auto;
    }
    .minmax_amanha, .minmax_depois_de_amanha {
        justify-content: center;
    }
    input {
        width: 280px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 440px) {

    #amanha {
        font-size: 3.5vh;
    }
    .umidade, .sensacao_term, .velocidade_vento {
        font-size: .8rem;
        width: auto;
    }

    .card_cidade__clima_descricao {
        font-size: 1.2rem;
    }
    .card_cidade__nome_do_lugar {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 400px) {
    .maxima, .minima {
        font-size: .9rem;
    }
}

@media screen and (max-width: 360px) {
    .card_cidade__clima_temp > span{
        font-size: 4.2rem;
    }
    .umidade, .velocidade_vento, .sensacao_term {
        font-size: .6rem;
    }
    input {
        width:230px;
    }
    
    .card_cidade__clima_descricao,
    .card_cidade__nome_do_lugar {
        font-size: 1rem;
    }
}

@media screen and (max-height: 524px) {
    .card_cidade__clima_temp > span{
        font-size: 4rem;
    }
    .card_cidade__clima_temp > hr {
        height: 100px;
    }
    .card_detalhes {
        justify-content: center;
        height: 100px;
    }
    .card_cidade__nome_do_lugar {
        font-size: 1.4rem;
    }
    .card_cidade__clima_descricao{
        margin: 0;
        display: inline;
        padding: 10px;
    }
}

